{
    "extends": ["airbnb-base"],
    "env": {
      "node": true,
      "es6": true,
      "browser": true
    },
    "rules": {
      "no-console": "off",
      "import/no-unresolved": "off",
      "import/extensions": "off"
    },
    "parser": "@babel/eslint-parser"
  }